$dark-blue: #012F9E;
$white-color: #FFFFFF;
$lighter-blue: #002F9D;
$darker-blue: #021F59;
$light-blue: #38BDFF;
$yellow-color: #FEEC26;
$grey-color: #F2F2F2;
$dark-grey: #818181;
$card-blue: #022157;
$p-color: #9CA1B4;
$card-title-blue: #5A6286;