.info__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 45px;
    color: $dark-blue;
    text-transform: capitalize;
    margin: 50px;
}
.info__text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 400;
    color: $dark-grey;
    margin: 50px;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin:0; 
    width: 100%; 
    @media (max-width: 800px) {
        display: grid;
        grid-template-columns: 1fr;
    } 

}
.wraper {
    display: flex;
    align-items: center;
    justify-content: center;


}

.details {
    width: 100%;
    margin: 50px;
}
.wraper img {
    width: 170px;
    height: 170px;
    margin: 10px;
}

@media (max-width:700px) {
    .wraper {
        display: flex;
        flex-wrap: wrap;
    
    }
}