.tab {
    
    clear: both;
    perspective: 600px;    
}

::selection {
    background: $grey-color;
}

.tabs {
    width: 700px;
    margin: 50px auto;
}

.tabs>input {
    display: none;
}
.tabs>label {
    display: block;
    float: left;
    padding: 12px 20px;
    margin-right: 5px;
    cursor: pointer;
    transition: background-color .3s;
}

.tabs>label:hover,
.tabs>input:checked + label {
    background: $grey-color;
}

.tab>div {
    width: 700px;
    position: absolute;
    
    padding: 10px 30px 40px;
    line-height: 1.4em;
    opacity: 0;
    transform: rotate(-20deg);
    transform-origin: top center;
    transition: opacity .3s transform 1s;
    z-index: 0; 
}

#tab-nav-1:checked ~ .tab > div:nth-of-type(1),
#tab-nav-2:checked ~ .tab > div:nth-of-type(2),
#tab-nav-3:checked ~ .tab > div:nth-of-type(3),
#tab-nav-4:checked ~ .tab > div:nth-of-type(4) {
    transform: rotateX(0);
    opacity: 1;
    z-index: 1;
}
.shift {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: $grey-color;

    .shift-title {
        margin: 20px;
    }
  
}

.tab-details img{
    width: 150px;
    height: 130px;
    border-radius: 50%;
}

@media(max-width: 700px){
    .tabs {
        width: 300px;

    }
    .tabs > label {
        display: none;
    }
    .tab > div {
        width: 300px;
        border: 0;
        opacity: 1;
        position: relative;
        transform: none;
        margin-bottom: 60px;
    }
    .shift {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

.tab-page-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 25px;
    text-align: center;
    font-weight: 600;
}

